[global]
server_name = "soundadvice.club"
access_control_allow_origin = [
	"https://connect.soundadvice.club",
	"https://app.soundadvice.club"
]
database_path = "/var/lib/tuwunel"
address = ["0.0.0.0"]
port = 8008
allow_registration = false
allow_encryption = true
grant_admin_to_first_user = true
allow_room_creation = false
block_non_admin_invites = true
allow_federation = false
allow_public_room_directory_over_federation = false
allow_inbound_profile_lookup_federation_requests = false
auto_join_rooms = [
    "#announcements:soundadvice.club",
    "#events:soundadvice.club",
    "#general:soundadvice.club",
]

[global.well_known]
client = "https://connect.soundadvice.club"
server = "connect.soundadvice.club:443"

[[global.identity_provider]]
brand = "SoundAdvice"
client_id = "1944f97b-7d2e-430b-834a-9e54f60685e5"
client_secret_file = "/etc/tuwunel/.client_secret"
issuer_url = "https://xotpctnbcmgkwmiplesn.supabase.co/auth/v1/"
discovery_url = "https://xotpctnbcmgkwmiplesn.supabase.co/auth/v1/.well-known/openid-configuration"
discovery = true
scope = ["openid", "email", "profile"]
default = true
grant_session_duration = 600
